# Data Science jobs in Ireland
This project scrapes current Data Science job listings off [IrishJobs.ie](https://www.irishjobs.ie/) and [NIjobs.com](https://www.nijobs.com/). The data is stored as a data frame and is cleaned for further analysis.

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('display.max_colwidth', -1)
import numpy as np
import time

This code can be used to search for any job, but this project focuses on Data Scientist jobs.

In [2]:
job = 'data scientist'

### Web Scraping

In [3]:
job = job.replace(' ', '+')
urls = ['https://www.irishjobs.ie/ShowResults.aspx?Keywords='+job+'&autosuggestEndpoint=%2fautosuggest&Location=0&Category=&Recruiter=Company%2cAgency&btnSubmit=+&PerPage=100',
        'https://www.irishjobs.ie/ShowResults.aspx?Keywords='+job+'&autosuggestEndpoint=%2fautosuggest&Location=0&Category=&Recruiter=Company%2cAgency&btnSubmit=+&PerPage=100&Page=2',
        'https://www.nijobs.com/ShowResults.aspx?Keywords='+job+'&Location=&Category=&Recruiter=Company%2cAgency&btnSubmit=+&PerPage=100']

In [4]:
titles = []
companies = []
salaries = []
dates = []
locations = []
descriptions = []
websites = []
links = []

The following code grabs the desired information from each job posting, adding it to the relevant list.
It does this for each URL in the urls list.

The time.sleep() function pauses the program for 5 seconds to limit the chance of crashing or getting blacklisted on either website.

A try and except block handles any errors with companies, as some job postings did not contain a company. This could be done for each column, but it was not required in this instance.

In [5]:
for url in urls:
    page = requests.get(url)
    page.raise_for_status()
    soup = bs4.BeautifulSoup(page.text, 'html.parser')
    time.sleep(5)
    listings = soup.find_all('div', {'class':'module job-result'})
    
    for job in listings:
    
        title = job.find('div', {'class':'job-result-title'}).find('h2').text
        titles.append(title)

        try:
            company = job.find('div', {'class':'job-result-title'}).find('h3').text
            companies.append(company)
        except:
            companies.append(np.NaN)

        salary = job.find('li', {'class':'salary'}).text
        salaries.append(salary)

        date = job.find('li', {'class':'updated-time'}).text
        dates.append(date)

        location = job.find('li', {'class':'location'}).text
        locations.append(location)

        description = job.find('p', {'style':'display: '}).text
        descriptions.append(description)
        
        if url in urls[:2]:
            website = 'Irish Jobs'
            websites.append(website)
        else:
            website = 'NI Jobs'
            websites.append(website)
            
        link = job.find('a', {'class':'show-more'})['href']
        links.append(link)

The lists are used to create the data frame

In [6]:
df = pd.DataFrame({
        "Title": titles, 
        "Company": companies, 
        "Salary": salaries, 
        "Date": dates, 
        "Location": locations, 
        "Description":descriptions,
        "Website":websites,
        "Link":links
    })

In [7]:
df

,Title,Company,Salary,Date,Location,Description,Website,Link
0,Data Scientist - Dublin\n,\nReperio Human Capital Ltd\n,60000 - 70000,Updated 01/03/2019,\nDublin\n,"\nMy client, an exciting financial services company are currently expanding their data science team. My client, an exciting financial services company, are currently hoping to expand their data science team with a talented and ambitious individual to join their team.\n",Irish Jobs,/Jobs/Data-Scientist-Dublin-8289327.aspx
1,"Data Scientist – Customer, Ops & Trading\n",\nParagon Executive Intelligence\n,60000 - 70000,Updated 26/02/2019,\nDublin\n,"\nInteresting opportunity to become part of a large, multi-disciplinary Data Science capability working hand in hand with the DWH and BI teams to ensure that Data is supporting all aspects of the organisation.\n",Irish Jobs,/Jobs/Data-Scientist-Customer-Ops-Trading-8287551.aspx
2,Data Scientist\n,\nNext Generation\n,55000 - 65000,Updated 22/02/2019,\nDublin City Centre\n,"\nAre you a talented programmer that is looking to pivot into Data Science? You have an IT/Computer Science background and have recently started to learn how your skills may apply to Data Science. * Computational MSc (Computer Science, IT, Data Analytics).\n",Irish Jobs,/Jobs/Data-Scientist-8292817.aspx
3,Data Scientist\n,\nCollins McNicholas Recruitment & HR Services Group\n,45000 - 55000,Updated 20/02/2019,\nCork\n / Cork city\n / Nationwide\n,\nA Cork-based real-time data analytics software company are looking for a creative and innovative data scientist to help provide our greater insights to their business\n,Irish Jobs,/Jobs/Data-Scientist-8284510.aspx
4,Data Scientist\n,\nComputer Futures\n,See description,Updated 19/02/2019,\nDublin\n / Dublin North\n / Dublin South\n,\nI'm on the lookout for a Data Scientist to join a very exciting client of mine based in Dublin. As a Data Scientist will be joining a company that apply machine learning/Deep Learning techniques in the Digital Healthcare domain.\n,Irish Jobs,/Jobs/Data-Scientist-8283728.aspx
5,Data Scientist Contract (Great Day Rate)\n,\nReperio Human Capital Ltd\n,100000 - or more,Updated 16/02/2019,\nDublin\n,"\nWe are looking for a Data Scientist who will support our product, sales, leadership and marketing teams with insights gained from analysing company data. Our leading Telecommunication Services client is actively recruiting for an experienced Data Scientist to join their Business Analytics team based in Dublin for a 6-12 Month Contract.\n",Irish Jobs,/Jobs/Data-Scientist-Contract-Great-Day-8283415.aspx
6,Senior Data Scientist\n,\nBank of Ireland Group\n,See description,Updated 01/03/2019,\nDublin\n,\nBank of Ireland | Senior Data Scientist | Dublin City Centre * Develop and mentor less experienced Data Scientists.\n,Irish Jobs,/Jobs/Senior-Data-Scientist-8295365.aspx
7,Senior Data Scientist\n,\nBank of Ireland Group\n,See description,Updated 01/03/2019,\nDublin\n,\nBank of Ireland | Senior Data Scientist | Dublin City Centre * Develop and mentor less experienced Data Scientists.\n,Irish Jobs,/Jobs/Senior-Data-Scientist-8295359.aspx
8,BI Technical Support Analyst\n,\nDublin Airport Authority\n,Not disclosed,Updated 03/03/2019,\nDublin\n,"\nAn opportunity has arisen for a BI Technical Support Analyst to join out IT Data and Analytics team. daa IT Data and Analytics team provide data and analytics services to wider business units - Airport Operations, Airport Security, Commercial, Marketing, Procurement, Finance, Retail and IT.\n",Irish Jobs,/Jobs/BI-Technical-Support-Analyst-8292221.aspx
9,Senior Microbiology Scientist\n,\nIrish Blood Transfusion Service\n,See description,Updated 03/03/2019,\nDublin\n,"\nThe Irish Blood Transfusion Service is currently recruiting a temporary, full time Senior Microbiology Scientist in the Environmental Monitoring Department, National Blood Centre, Dublin 8. The IBTS is currently recruiting full-time, temporary, Senior Microbiology Scientist based in the Environmental Monitoring Department, National Blood Centre, Dublin.\n",Irish Jobs,/Jobs/Senior-Microbiology-Scientist-8291874.aspx
10,Data Analyst\n,\nSigmar Recruitment\n,Negotiable,Updated 02/03/2019,\nCork city\n / Cork\n / Nationwide\n,\nMy client in Cork is looking for a Data Support Analyst to join their team. You will execute defined data management processes to create and update master data per business requirements to enable a smooth business process for the team. * Work closely with the data operations teams per region or route to market for business decisions about data requests.\n,Irish Jobs,/Jobs/Data-Analyst-8289998.aspx
11,Group Lead Technical Scientist - Cork\n,\nEurofins Biopharma Product Testing Ireland Ltd\n,Negotiable,Updated 01/03/2019,\nCork\n,\nCurrent seeking a Group Lead - Technical Scientist to support a development laboratory in Ringaskiddy Co Cork\n,Irish Jobs,/Jobs/Group-Lead-Technical-Scientist-Cork-8286353.aspx
12,BI Technical Support Analyst\n,\nHays Specialist Recruitment\n,35000 - 45000,Updated 02/03/2019,\nDublin\n,"\nYou will become a crucial subject matter expert, responsible for providing technical support to BI users within the organisation, assisting with data processing, troubleshooting, reporting and resolution of data integration issues.\n",Irish Jobs,/Jobs/BI-Technical-Support-Analyst-8289737.aspx
13,Business Intelligence Analyst/BI Analyst - Cavan\n,\nArcher Recruitment\n,Negotiable,Updated 02/03/2019,\nCavan\n / Meath\n,"\nOpportunity for a Business Intelligence Analyst to join a specialised, established business intelligence team where you will gain experience building enterprise scale BI reporting and dashboard soluti\n",Irish Jobs,/Jobs/Business-Intelligence-Analyst-BI-Analyst-8289944.aspx
14,Senior Data Analyst - Funds -12 Month FTC\n,\nThe Panel\n,See description,Updated 02/03/2019,\nDublin City Centre\n,"\nMy client - a leading Investment Manager has a requirement for a Senior Data Analyst to join the Data Management team for a 12 Month FTC basis. * Ensure that security, issuer and broker data is captured in a timely manner. * Build knowledge of the data flow and structure within the group.\n",Irish Jobs,/Jobs/Senior-Data-Analyst-Funds-12-8289755.aspx
15,Finance Accounting & Reporting Specialist - 12 month FTC\n,\nAllianz Partners\n,Negotiable,Updated 01/03/2019,\nDublin West\n,\nRole Overview: -Management of the open item suspense accounts including management and review of FSS team output. -Support the Finance Accounting & Reporting team in delivering the IFRS & SII deliv\n,Irish Jobs,/Jobs/Finance-Accounting-Reporting-Specialist-12-8290016.aspx
16,Data & Analytics Manager\n,\nBearingPoint\n,Not disclosed,Updated 01/03/2019,\nDublin\n,\nBearingPoint currently has an exciting opportunity for a Data & Analytics Manager to join our Data & Analytics team.\n,Irish Jobs,/Jobs/Data-Analytics-Manager-8292723.aspx
17,Business Intelligence Analyst\n,\nCollins McNicholas Recruitment & HR Services Group\n,Negotiable,Updated 02/03/2019,\nGalway city\n / Galway\n / Clare\n,"\nResponsible for liaising with the Commercial team, warehouse and manufacturing personnel and customer service to get the correct data. Galway. The reporting analyst is responsible for creating and developing key reports required by the International commercial and CS teams.\n",Irish Jobs,/Jobs/Business-Intelligence-Analyst-8289392.aspx
18,Global Reporting Analyst (AVP)\n,\nBruin Financial Recruitment\n,See description,Updated 02/03/2019,\nDublin South\n,"\nWorking closely with partners and teams across the enterprise to gather key data and metrics for input in to enterprise wide scorecards * The successful candidate will need to evaluate the information gathered from multiple sources, reconcile discrepancies and present complex data in a systematic manner and tailored to various audiences.\n",Irish Jobs,/Jobs/Global-Reporting-Analyst-AVP-8289971.aspx
19,Credit Data Platform Developer\n,\nPERMANENT TSB\n,Not disclosed,Updated 28/02/2019,\nDublin City Centre\n,\nWe require a developer with strong analysis and development skills on the Credit Data Platform team. The Credit Data Platform is a Customer Credit data warehouse used to provide management and regulatory information on all aspects of the bank’s credit portfolios. * System governance & data protection\n,Irish Jobs,/Jobs/Credit-Data-Platform-Developer-8294954.aspx
20,Actuary - Reserving & Modelling analyst\n,\nCrédit Agricole Creditor Insurance\n,Not disclosed,Updated 28/02/2019,\nDublin City Centre\n,"\nAssist in setting up the data flow processes to/from Prophet to meet modelling and Financial Reporting requirements  Reserving: existing & new businesses - Prudential Control Reporting French Regulator - Modelling  Processes - External relations - Reserving – new business  - Work on tools, methods and processes linked to a new portfolio of PPI business \n",Irish Jobs,/Jobs/Actuary-Reserving-Modelling-analyst-8292052.aspx
21,Data Analyst\n,\nReperio Human Capital Ltd\n,50000 - 60000,Updated 28/02/2019,\nDublin\n,"\nGreat opportunity in the Education Sector for a talented Data Analyst to work with an amazing team in Dublin City Centre. My client, in the education sector, is currently seeking a data analyst to join their amazing team. You will take control of the data architecture and identify key areas of improvement.\n",Irish Jobs,/Jobs/Data-Analyst-8295094.aspx
22,Claims Business Intelligence Analyst\n,\nZurich\n,Not disclosed,Updated 28/02/2019,\nWexford\n / Kilkenny\n,"\nAnalyst role covering production of data and insight to assist the Claims leadership team, to assist in key decisions, measure operational performance, create business insight, identify risk and address new problems, enhance business performance that leads to better business outcomes.\n",Irish Jobs,/Jobs/Claims-Business-Intelligence-Analyst-8292203.aspx
23,Master Data Analyst\n,\nLloydsPharmacy & United Drug\n,Not disclosed,Updated 27/02/2019,\nDublin\n,"\nWe have a requirement for a full time Master Data Analyst within our busy Master Data team in United Drug, Dublin. This role will report into the Master Data Manager and the successful candidate will provide SAP analytical and technical support.\n",Irish Jobs,/Jobs/Master-Data-Analyst-8294445.aspx
24,Data Analyst\n,\nEOLAS – IT RECRUITMENT SPECIALISTS JOBS\n,Negotiable,Updated 28/02/2019,\nDublin\n,"\nMy Dublin based financial services client is looking for an experienced Data Analyst to join the team on a contract basis -Significant role in the data management and solution definition, implementation and governance of the data architecture. -Data modelling experience needed\n",Irish Jobs,/Jobs/Data-Analyst-8288720.aspx
25,Databricks Data Engineer- UK\n,\nVersion 1\n,See description,Updated 28/02/2019,\nUK\n,\nThis is an exciting opportunity for an experienced developer of large scale data solutions. You will join a team delivering a transformative cloud hosted data platform for a key Version 1 customer. The ideal candidate will have a proven track record in implementing data ingestion and transformation pipelines for large scale organisations.\n,Irish Jobs,/Jobs/Databricks-Data-Engineer-UK-8285659.aspx
26,SAS Consultant / SAS Analyst\n,\n@Recruit IT\n,65000 - 75000,Updated 01/03/2019,\nDublin\n,"\nWe’re looking to speak to experienced Data Scientists with 7-10 years’ experience, in depth knowledge on SAS and a degree background in Computer Science/ Mathematics or Statistics ideally with good programming skills, particularly with programming languages for statistical computing e.g. R.\n",Irish Jobs,/Jobs/SAS-Consultant-SAS-Analyst-8295137.aspx
27,Data Analyst - German Speaking\n,\nIntercontinental Exchange (ICE)\n,20000 - 30000,Updated 27/02/2019,\nDublin\n,"\nWe are looking for a German Speaking Data Analyst to join our Dublin office. Our Dublin office is primarily focused on data collection and consists of the different departments such as Equities, Funds, Fixed Income and Masterfile. This role is pivotal to the data collection process.\n",Irish Jobs,/Jobs/Data-Analyst-German-Speaking-8294140.aspx
28,Data Visualization Engineer\n,\nPramerica Limited\n,Not disclosed,Updated 28/02/2019,\nDonegal\n,"\nPramerica is seeking an experienced Analyst with expertise in Data Visualization, the primary function of the role will be to create meaningful and interactive dashboards in Tableau and Power BI - Pramerica is seeking an experienced Data Analyst with expertise and flair for Data Visualization.\n",Irish Jobs,/Jobs/Data-Visualization-Engineer-8295022.aspx
29,Supply Chain Data Analyst\n,\nAbbott Ireland\n,Not disclosed,Updated 27/02/2019,\nSligo\n,"\nThe Supply Chain Analyst will be responsible for developing and implementing supply chain planning data analyses, data collection and reporting systems and other strategies that will drive data based decision making through the S&OP process.\n",Irish Jobs,/Jobs/Supply-Chain-Data-Analyst-8284849.aspx
...,...,...,...,...,...,...,...,...
153,\nData Analyst\n,\nQueens University\n,See description,Updated 25/02/2019,\nBelfast\n,\nExcellent opportunity for a Data Analyst based in Belfast - The post holder will work in a small team of data specialists to prepare for the implementation of new requirements relating to statutory student information returns – referred to by HESA as “Data Futures”. * Minimum 3 years’ recent relevant experience working in a data analysis environment - Finance\n,NI Jobs,/Data-Analyst-Job-1394735.aspx
154,\nNEW - Data Analyst / BI Analyst - Mid Ulster\n,\nBaillie Martin\n,£35000 - 45000,Updated 26/02/2019,\nSouth Derry Area\n,"\nA rare opening within the Mid-Ulster market for a BI / Data Analyst to join a major, forward thinking organisation. Data Analyst/BI Analyst - South Derry area - Exc salary & bens package\n",NI Jobs,/NEW-Data-Analyst-BI-Analyst-Job-1395168.aspx
155,\nData Analytics Delivery Manager\n,\nHAYS Specialist Recruitment\n,£40000 - 50000,Updated 26/02/2019,\nBelfast\n,\nBusiness Intelligence/Data Analytics Manager - Belfast based with limited travel and great package. Due to unprecedented growth within their Belfast HQ they have opened the opportunity up for a Delivery Manager in BI/Data Analytics to join their team.\n,NI Jobs,/Data-Analytics-Delivery-Manager-Job-1391866.aspx
156,\nBusiness Intelligence Analyst\n,\nAbacus Careers\n,Not disclosed,Updated 26/02/2019,\nBelfast\n,"\nBusiness Intelligence Analyst with solid experience in Reporting and Qlikview is needed for a niche manufacturing company, based in Dungannon.\n",NI Jobs,/Business-Intelligence-Analyst-Job-1391655.aspx
157,\nMI Data Analyst\n,\nMCS Group\n,£30000 - 40000,Updated 26/02/2019,\nBelfast\n / Antrim\n / Northern Ireland\n,\nMCS Group is seeking to connect with a talented MI Data Analyst for one of Belfasts best success stories. MCS Group is delighted to be representing a hugely successful locally owned company seeking to connect with a Data Analyst across management information.\n,NI Jobs,/MI-Data-Analyst-Job-1395106.aspx
158,\nGraduate Data Analyst\n,\nAbacus Careers\n,£20000 - 30000,Updated 26/02/2019,\nBelfast\n,"\nYou will work alongside some of the countries best Data Scientists & Software Engineers, who are focused on building AI / Machine Learning & Real Time Data platforms. If you have recently graduated and want to work on AI / Machine Learning & Real Time Data platforms.\n",NI Jobs,/Graduate-Data-Analyst-Job-1391695.aspx
159,\nGraduate/Junior Data Analyst - Supply Chain\n,\nMCS Group\n,£20000 - 30000,Updated 26/02/2019,\nDungannon Area\n / Tyrone\n / Northern Ireland\n,\nMCS Group is delighted to be representing one of the most prestigious firms here in Northern Ireland in their search for talented Graduate/Junior Data Analysts. MCS Group is delighted to be representing a global giant who set the standard within their industry in their efforts to recruit Graduate/Junior Data Analysts.\n,NI Jobs,/Graduate-Junior-Data-Analyst-Supply-Job-1391851.aspx
160,\nSAS Data Analyst (All Levels)\n,\nRealTime Recruitment\n,See description,Updated 25/02/2019,\nUlster\n,"\nSAS Data Analyst - £28-45k - Hiring All Levels - An exciting new opportunity has recently come on the market with a major player in the data science space. The role is open to candidates with all levels of experience, allowing an amazing opportunity for growth with a company at the forefront of the data revolution.\n",NI Jobs,/SAS-Data-Analyst-All-Levels-Job-1394846.aspx
161,\nReporting Analyst\n,\nVANRATH IT\n,£20000 - 30000,Updated 26/02/2019,\nBallymoney Area\n / Northern Ireland\n,"\nThe Reporting Analyst will also support the Information Team Leaders in the provision of quality information to a range of users and the provision of specialist advice in the use of information and information systems and in the extraction, analysis, interpretation and presentation of data. * undertaking regular data audits; * promoting ownership of data\n",NI Jobs,/Reporting-Analyst-Job-1395029.aspx
162,\nPrincipal Statistician\n,\nAbacus Careers\n,Not disclosed,Updated 22/02/2019,\nBelfast\n,\nWork with clinical researchers & scientists who work in the life science remit. This firm has established itself as leaders in the Life Science Analytics market and have produced a leading cloud-based software package that is vital to scientists & researchers.\n,NI Jobs,/Principal-Statistician-Job-1394392.aspx
163,\nData Engineer (Belfast – R/Python/AWS)\n,\nRealTime Recruitment\n,Negotiable,Updated 23/02/2019,\nBelfast\n,\nData Engineer| Competitive Salary | 2 days WFH | MedTech | R/Python/AWS | On-The-Job Training | Excellent Holidays | Private Medical &Bonus | Why should I be interested in this role as a Data Engineer? What will I be doing as a Data Engineer? What do I need to secure this Data Engineer role? * Some experience with Data Science or a keen interest\n,NI Jobs,/Data-Engineer-Belfast-R-Python-Job-1391392.aspx
164,\nBI Analyst - No Travel\n,\nMCS Group\n,£30000 - 40000,Updated 22/02/2019,\nBelfast\n / Antrim\n / Northern Ireland\n,"\nManaging the Data cleansing processes * Analyse and manipulate data * Work across data warehousing solutions - You will have experience in data warehousing solutions utilising SSRS/SSIS, be a good communicator and be interested in continually learning & developing with excellent training on offer.\n",NI Jobs,/BI-Analyst-No-Travel-Job-1390999.aspx
165,\nBI Analyst - Retrain to SAP\n,\nMCS Group\n,£30000 - 40000,Updated 21/02/2019,\nBelfast\n / Antrim\n / Northern Ireland\n,"\nManaging the Data cleansing processes * Analyse and manipulate data * Work across data warehousing solutions - You will have experience in data warehousing solutions utilising SSRS/SSIS, be a good communicator and be happy to mentor more junior members of staff.\n",NI Jobs,/BI-Analyst-Retrain-to-SAP-Job-1394325.aspx
166,\nMIS / BI Analyst\n,\nCorvus Recruitment Ltd\n,Negotiable,Updated 21/02/2019,\nArmagh\n,"\nYou could work on small scale report modifications, with dubious data sets, OR you apply to this role and develop green-field reporting suites, extracting accurate data form a new central data warehouse, using leading tech.\n",NI Jobs,/MIS-BI-Analyst-Job-1394277.aspx
167,\nData Engineer (SAS – All levels)\n,\nRealTime Recruitment\n,See description,Updated 22/02/2019,\nBelfast\n,"\nData Engineer | Associate to Manager Level | SAS, SQL, ETL, Data Mining, Predictive Analytics | Belfast | Competitive salaries | Healthcare, Pension, Bonus - One of Belfast’s most innovative software development studios is currently on the lookout for a talented Data Engineer – to help their large and impressive client base manage their data challenges.\n",NI Jobs,/Data-Engineer-SAS-All-levels-Job-1391028.aspx

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 8 columns):
Title          183 non-null object
Company        182 non-null object
Salary         183 non-null object
Date           183 non-null object
Location       183 non-null object
Description    183 non-null object
Website        183 non-null object
Link           183 non-null object
dtypes: object(8)
memory usage: 5.8+ KB

In [9]:
df.describe()

,Title,Company,Salary,Date,Location,Description,Website,Link
count,183,182,183,183,183,183,183,183
unique,155,87,26,16,57,178,2,183
top,\nData Analyst\n,\nReperio Human Capital Ltd\n,Negotiable,Updated 26/02/2019,\nDublin\n,"\nFor Us, It's a Mission At Mylan, we mean it when we say we work every day to provide access to high quality medicines to the world's 7 billion people. If you are unconventional, relentless and pass...\n",Irish Jobs,/Jobs/Oracle-Applications-Analyst-Developer-8290928.aspx
freq,7,11,46,28,51,2,128,1

In [10]:
df.sample(10)

,Title,Company,Salary,Date,Location,Description,Website,Link
89,Regulatory Reporting Senior Analyst - Asset Mgt\n,\nExecutive Connections Ltd Principal Connections Ltd\n,Negotiable,Updated 23/02/2019,\nDublin\n / Dublin City Centre\n,\nVerify data to external sources. Excellent opportunity to join a growing international asset management company. Growth plans for Dublin mean there is opportunity to grow your career with this company as it grows in Dublin.\n,Irish Jobs,/Jobs/Regulatory-Reporting-Senior-Analyst-Asset-8286838.aspx
171,\nData Analyst (Large Consultancy – No Travel)\n,\nRealTime Recruitment\n,£25000 - 35000,Updated 19/02/2019,\nBelfast\n,"\nData Analyst | SQL | Tableau, Spotfire | Multiple Hires | Belfast City Centre | Consultancy – with no travel| up to £36,000 | Benefits | Progression Opportunities - What will I be doing as a Data Analyst? Why should I apply for this Data Analyst role? What do I need to get this Data Analyst role?\n",NI Jobs,/Data-Analyst-Large-Consultancy-No-Job-1390196.aspx
96,Business Data Analyst\n,\nCollins McNicholas Recruitment & HR Services Group\n,35000 - 45000,Updated 22/02/2019,\nCork city\n / Cork\n / Nationwide\n,"\nYou will also provide data-driven business analysis in support of sales business activities. Permanent Cork - Join a growing international Engineering company, in their new state-of-the-art HQ in Cork as they continue to grow their headcount across divisions and teams.\n",Irish Jobs,/Jobs/Business-Data-Analyst-8285936.aspx
97,Developer Support Analyst Global Tech\n,\nPrinciple\n,50000 - 60000,Updated 22/02/2019,\nDublin City Centre\n,\nExciting new opportunity with a Global Tech Giant for A Developer Support Analyst to join the team in the development of their global product portfolio\n,Irish Jobs,/Jobs/Developer-Support-Analyst-Global-Tech-8292781.aspx
144,\nSenior Data Analyst (Software Management)\n,\nHAYS Specialist Recruitment\n,£30000 - 40000,Updated 01/03/2019,\nNorthern Ireland\n,\nWant to work in a data analyst role that will offer you more than the rest and hone business skills?\n,NI Jobs,/Senior-Data-Analyst-Software-Management-Job-1394873.aspx
49,Technical Risk Analyst\n,\nPERMANENT TSB\n,Not disclosed,Updated 27/02/2019,\nDublin\n,"\nChallenge existing strategies through interrogation of trends discovered within collections data. * Build data sets which are robust and efficient for use within the department and across the wider Bank, helping to maximise productivity of on-going work through collaborative design and a develop/test/document/deploy lifecycle.\n",Irish Jobs,/Jobs/Technical-Risk-Analyst-8294097.aspx
161,\nReporting Analyst\n,\nVANRATH IT\n,£20000 - 30000,Updated 26/02/2019,\nBallymoney Area\n / Northern Ireland\n,"\nThe Reporting Analyst will also support the Information Team Leaders in the provision of quality information to a range of users and the provision of specialist advice in the use of information and information systems and in the extraction, analysis, interpretation and presentation of data. * undertaking regular data audits; * promoting ownership of data\n",NI Jobs,/Reporting-Analyst-Job-1395029.aspx
115,Data Engineer to join an innovations hub in the West of Ireland\n,\nRecruiters – Looking For You\n,55000 - 65000,Updated 19/02/2019,\nLimerick\n,"\nStrong technical knowledge of Enterprise Data Warehouse, database design and * Experience in designing and developing data models * Experience in real/near-time data load using Informatica CDC (Change Data Capture)\n",Irish Jobs,/Jobs/Data-Engineer-to-join-an-8291074.aspx
47,Data Analyst - Commercial\n,\n@Recruit IT\n,45000 - 55000,Updated 26/02/2019,\nDublin South\n,\nData Analyst with 3+ years’ experience and the ability to successfully relate their data analysis to commercial reality and the identify the commercial trends and identify their impact on the business\n,Irish Jobs,/Jobs/Data-Analyst-Commercial-8287638.aspx
177,\nData Analyst\n,\nVANRATH IT\n,£40000 - 50000,Updated 16/02/2019,\nBelfast\n / Northern Ireland\n,\nVANRATH are recruiting a Data Analyst for a Belfast based consultancy provider. VANRATH are recruiting for a Data Analyst to work within our client's consultancy division. * Lead delivery of Data Management Solutions * Knowledge of Cloud Data Storage/Integration * Knowledge of Data Modelling * Knowledge of Data Governance * Knowledge of Data Warehousing\n,NI Jobs,/Data-Analyst-Job-1389954.aspx

### Data Clensing
From looking at the data frame, the most noticeable issue is the '\n' that was scraped as part of the strings. These can easily be removed, along with any whitespace using the following code:

In [11]:
for column in df.columns:
    df[column] = df[column].str.strip()
    df[column] = df[column].str.replace('\n', '')
    df[column] = df[column].str.replace('\s+', ' ', regex=True)

In [12]:
df.head()

,Title,Company,Salary,Date,Location,Description,Website,Link
0,Data Scientist - Dublin,Reperio Human Capital Ltd,60000 - 70000,Updated 01/03/2019,Dublin,"My client, an exciting financial services company are currently expanding their data science team. My client, an exciting financial services company, are currently hoping to expand their data science team with a talented and ambitious individual to join their team.",Irish Jobs,/Jobs/Data-Scientist-Dublin-8289327.aspx
1,"Data Scientist – Customer, Ops & Trading",Paragon Executive Intelligence,60000 - 70000,Updated 26/02/2019,Dublin,"Interesting opportunity to become part of a large, multi-disciplinary Data Science capability working hand in hand with the DWH and BI teams to ensure that Data is supporting all aspects of the organisation.",Irish Jobs,/Jobs/Data-Scientist-Customer-Ops-Trading-8287551.aspx
2,Data Scientist,Next Generation,55000 - 65000,Updated 22/02/2019,Dublin City Centre,"Are you a talented programmer that is looking to pivot into Data Science? You have an IT/Computer Science background and have recently started to learn how your skills may apply to Data Science. * Computational MSc (Computer Science, IT, Data Analytics).",Irish Jobs,/Jobs/Data-Scientist-8292817.aspx
3,Data Scientist,Collins McNicholas Recruitment & HR Services Group,45000 - 55000,Updated 20/02/2019,Cork / Cork city / Nationwide,A Cork-based real-time data analytics software company are looking for a creative and innovative data scientist to help provide our greater insights to their business,Irish Jobs,/Jobs/Data-Scientist-8284510.aspx
4,Data Scientist,Computer Futures,See description,Updated 19/02/2019,Dublin / Dublin North / Dublin South,I'm on the lookout for a Data Scientist to join a very exciting client of mine based in Dublin. As a Data Scientist will be joining a company that apply machine learning/Deep Learning techniques in the Digital Healthcare domain.,Irish Jobs,/Jobs/Data-Scientist-8283728.aspx

Check for, and remove any duplicates and check for any null values. As this data was scraped from job search webpages, I wouldn't expect there to be many duplciate or null values.

In [13]:
df[df.duplicated()]

Empty DataFrame
Columns: [Title, Company, Salary, Date, Location, Description, Website, Link]
Index: []

In [14]:
df.drop_duplicates(inplace=True)

Check for any null values

In [15]:
df.isnull().sum()

Title          0
Company        1
Salary         0
Date           0
Location       0
Description    0
Website        0
Link           0
dtype: int64

In [16]:
df[df['Company'].isnull()]

,Title,Company,Salary,Date,Location,Description,Website,Link
57,Reporting Analyst,NaN,Negotiable,Updated 26/02/2019,Dublin,"The Reporting Analyst will design and develop metrics, reports and analyses to drive key business decisions, providing a crucial link between raw enterprise data and management. This role is crucial to sound decision-making based on data and evidence. Gather and Input Data (approx. 25% time)",Irish Jobs,/Jobs/Reporting-Analyst-8287740.aspx

The only null value is from the company column. The user that uploaded the job must have made an error and not entered the company.

The try and except block in the for loop handled this and stopped the program from crashing.

##### Title & Company
The Title and Company columns can be checked for any issues. 

The Title column could be cleaned to only include the job title (e.g. *Data Scientist* cleaned from *Senior Data Scientist*), however I decided to leave these columns as I didn't want to unnecessarily remove any information.

In [17]:
df['Title'].value_counts()

Data Analyst                                                       14
Data Scientist                                                     6
Data Engineer                                                      6
Business Intelligence Analyst                                      5
Data Manager                                                       3
Senior Data Scientist                                              3
BI Technical Support Analyst                                       2
SAS Data Analyst (All Levels)                                      2
Senior Data Analyst (Software Management)                          2
Data Analyst-Personal Lines                                        2
Reporting Analyst                                                  2
Data Marketing Analyst (UK & Ireland)                              1
Data Consultant                                                    1
Workday Technical Analyst                                          1
Senior Computer Vision & Machine Learning Engineer                 1
Master Data Analyst                                                1
BI Analyst                                                         1
Data Analyst (Large Consultancy – No Travel)                       1
Adobe Analytics Consultant                                         1
Senior Data Analyst - Funds -12 Month FTC                          1
Business Data Analyst                                              1
Senior MIS/BI Analyst                                              1
T24 Core Data Analyst                                              1
MIS / BI Analyst                                                   1
Lead Data Scientist ( Belfast )                                    1
Enterprise Risk Reporting Specialist                               1
Data Governance Consultant                                         1
Regulatory Reporting Analyst                                       1
Data Scientist (work from home)                                    1
Data Analytics Delivery Manager                                    1
                                                                  ..
Graduate/Junior Data Analyst - Supply Chain                        1
Product Manager/Owner                                              1
Data Analyst (T24) – Contract                                      1
Europe Data Management Analyst – New Client Onbo                   1
Orthopaedic Data Manager – Grade V                                 1
Data Analyst- MS SQL                                               1
Finance Data Analyst (1 Year FTC)                                  1
Deal Desk Reporting Analyst                                        1
Actuary - Reserving & Modelling analyst                            1
AI Machine Learning Engineer                                       1
SAS Consultant / SAS Analyst                                       1
Graduate Data Analyst - Full training                              1
Java Application Developer's                                       1
Data Engineer (SAS – All levels)                                   1
BI Data Analyst - Tableau - Daily Rate                             1
MI Analyst - Banking                                               1
Data Solutions Applications Development Analyst                    1
Biostatistician                                                    1
Credit Data Platform Developer                                     1
Cloud Data Analyst                                                 1
AWS Data Engineer - Green Field Platform Build                     1
Data Engineer to join an innovations hub in the West of Ireland    1
Databricks Data Engineer- UK                                       1
Senior Scientist- Inhalation Lab                                   1
Oracle Applications Analyst/Developer                              1
Group Lead Technical Scientist - Cork                              1
Analytics & Information Management Consultant                      1
Claims Business Intelligence Analyst                               1
Senior Scientist                                                   1
SAS Consultant                                                     1
Name: Title, Length: 147, dtype: int64

In [18]:
df['Company'].value_counts().head()

Reperio Human Capital Ltd       11
VANRATH IT                      8
RealTime Recruitment            7
Cpl Resources                   7
Recruiters – Looking For You    7
Name: Company, dtype: int64

##### Salary
As the data frame combines jobs in NI and Ireland, there are two different currencies used in the Salary column. Any central tendency calculations of the salary would be incorrect as there are two currencies used. 
To be able to differentiate between the currencies, I created a new Currency column and then removed any currency symbols from the Salary column.

From experience of using job finder websites, when a Salary is *Negotiable* it usually does not contain any information about the salary range. Therefore, I grouped these with *Not disclosed* as most salaries are negotiable.

In [19]:
df['Currency'] = df['Website'].map(lambda x: '£' if 'NI Jobs' in x else '€' if 'Irish Jobs' in x else '')

In [20]:
df['Salary'] = df['Salary'].str.replace(r'\£', '')
df['Salary'] = df['Salary'].str.replace(r'\€', '')
df['Salary'] = df['Salary'].str.replace('Negotiable', 'Not disclosed')

In [21]:
df['Salary'].value_counts()

Not disclosed       81
See description     27
50000 - 60000       9
20000 - 30000       9
30000 - 40000       8
40000 - 50000       8
60000 - 70000       7
25000 - 35000       7
45000 - 55000       5
35000 - 45000       5
90000 - 100000      5
55000 - 65000       4
65000 - 75000       3
100000 - or more    2
70000 - 80000       2
45000 - 50000       1
Name: Salary, dtype: int64

#### Date
As the date column may be used in future analysis, the data needs converted from a string into time series.

In [22]:
df['Date'] = df['Date'].str.replace('Updated', '')
df['Date'] = pd.to_datetime(df['Date'])

#### Location
With different recruitment consultants uploading the jobs, there are many occurrences of the major cities being named differently e.g. *Dublin City Centre*, *Dublin South* etc. as seen below.

In [23]:
df['Location'].value_counts()

Dublin                                                   51
Belfast                                                  24
Dublin City Centre                                       14
Belfast / Northern Ireland                               7
Limerick                                                 6
Dublin / Dublin City Centre                              5
Dublin North                                             4
Belfast / Antrim / Northern Ireland                      4
Ulster                                                   4
Dublin / Dublin City Centre / Dublin South               3
Dublin South                                             3
Northern Ireland                                         3
Dublin West                                              2
Dublin / Dublin West / Dublin City Centre                2
Donegal                                                  2
Cork city / Cork / Nationwide                            2
Belfast / Antrim                                         2
Dublin / Nationwide                                      2
UK                                                       2
Armagh                                                   2
Dublin / Dublin West                                     2
Dublin / Dublin South                                    2
South Derry Area                                         1
South Derry Area / Cookstown Area                        1
Belfast / Working from Home                              1
Dublin North / Galway                                    1
Galway city / Galway / Clare                             1
Dublin City Centre / Dublin / Dublin South               1
Cork                                                     1
Tipperary / Limerick / Nationwide                        1
Dungannon Area / Tyrone / Northern Ireland               1
Cavan                                                    1
Dublin City Centre / Dublin South / Dublin               1
Dublin / Dublin North / Dublin South                     1
Dublin City Centre / Dublin South / Dublin North         1
Working from Home / Dublin City Centre / Dublin North    1
Mayo / Roscommon / Sligo                                 1
Westmeath / Galway / Kildare                             1
Mayo / Sligo                                             1
Dublin / Kildare / Laois                                 1
Tipperary / Limerick city / Nationwide                   1
Dublin City Centre / Dublin South / Wicklow              1
Craigavon/Lurgan Area                                    1
Westmeath                                                1
Tipperary / Clare / Limerick                             1
Cavan / Meath                                            1
Ballymoney Area / Northern Ireland                       1
Wexford / Kilkenny                                       1
Nationwide                                               1
Galway / Nationwide                                      1
Westmeath / Mainland Europe                              1
Derry / Armagh / Tyrone                                  1
Sligo                                                    1
Derry / Fermanagh / Tyrone                               1
Belfast / Derry                                          1
Cork / Waterford / Kilkenny                              1
Cork / Cork city / Nationwide                            1
Name: Location, dtype: int64

If this data is to be analysed based on location, these instances need to be grouped together. I decided to rename any location that contained 'Dublin' (e.g. Dublin City Centre) to just 'Dublin', and used the same method for Belfast and Cork. This greatly reduced the number of different locations.

In [24]:
df['Location'] = df['Location'].str.replace(r'(^.*Dublin.*$)', 'Dublin')
df['Location'] = df['Location'].str.replace(r'(^.*Belfast.*$)', 'Belfast')
df['Location'] = df['Location'].str.replace(r'(^.*Cork.*$)', 'Cork')

In [25]:
df['Location'].value_counts()

Dublin                                        98
Belfast                                       39
Limerick                                      6
Cork                                          5
Ulster                                        4
Northern Ireland                              3
UK                                            2
Donegal                                       2
Armagh                                        2
Ballymoney Area / Northern Ireland            1
Nationwide                                    1
Craigavon/Lurgan Area                         1
Dungannon Area / Tyrone / Northern Ireland    1
South Derry Area                              1
Tipperary / Clare / Limerick                  1
Tipperary / Limerick / Nationwide             1
Westmeath / Galway / Kildare                  1
Wexford / Kilkenny                            1
Tipperary / Limerick city / Nationwide        1
Galway / Nationwide                           1
South Derry Area / Cookstown Area             1
Galway city / Galway / Clare                  1
Cavan                                         1
Mayo / Sligo                                  1
Westmeath                                     1
Cavan / Meath                                 1
Derry / Fermanagh / Tyrone                    1
Sligo                                         1
Derry / Armagh / Tyrone                       1
Westmeath / Mainland Europe                   1
Mayo / Roscommon / Sligo                      1
Name: Location, dtype: int64

#### Link
As the scraped HREF URL only contains the path, the host name has to be concatenated to the path. This allows the user to copy and paste the link into the browser.

In [26]:
def urlmaker(row):
    if row['Website'] == 'NI Jobs':
        return 'https://www.nijobs.com' + row['Link']
    else:
        return 'https://www.irishjobs.ie' + row['Link']

In [27]:
df['Link'] = df.apply(lambda row: urlmaker(row),axis=1)
df

,Title,Company,Salary,Date,Location,Description,Website,Link,Currency
0,Data Scientist - Dublin,Reperio Human Capital Ltd,60000 - 70000,2019-01-03,Dublin,"My client, an exciting financial services company are currently expanding their data science team. My client, an exciting financial services company, are currently hoping to expand their data science team with a talented and ambitious individual to join their team.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-Dublin-8289327.aspx,€
1,"Data Scientist – Customer, Ops & Trading",Paragon Executive Intelligence,60000 - 70000,2019-02-26,Dublin,"Interesting opportunity to become part of a large, multi-disciplinary Data Science capability working hand in hand with the DWH and BI teams to ensure that Data is supporting all aspects of the organisation.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-Customer-Ops-Trading-8287551.aspx,€
2,Data Scientist,Next Generation,55000 - 65000,2019-02-22,Dublin,"Are you a talented programmer that is looking to pivot into Data Science? You have an IT/Computer Science background and have recently started to learn how your skills may apply to Data Science. * Computational MSc (Computer Science, IT, Data Analytics).",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-8292817.aspx,€
3,Data Scientist,Collins McNicholas Recruitment & HR Services Group,45000 - 55000,2019-02-20,Cork,A Cork-based real-time data analytics software company are looking for a creative and innovative data scientist to help provide our greater insights to their business,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-8284510.aspx,€
4,Data Scientist,Computer Futures,See description,2019-02-19,Dublin,I'm on the lookout for a Data Scientist to join a very exciting client of mine based in Dublin. As a Data Scientist will be joining a company that apply machine learning/Deep Learning techniques in the Digital Healthcare domain.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-8283728.aspx,€
5,Data Scientist Contract (Great Day Rate),Reperio Human Capital Ltd,100000 - or more,2019-02-16,Dublin,"We are looking for a Data Scientist who will support our product, sales, leadership and marketing teams with insights gained from analysing company data. Our leading Telecommunication Services client is actively recruiting for an experienced Data Scientist to join their Business Analytics team based in Dublin for a 6-12 Month Contract.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-Contract-Great-Day-8283415.aspx,€
6,Senior Data Scientist,Bank of Ireland Group,See description,2019-01-03,Dublin,Bank of Ireland | Senior Data Scientist | Dublin City Centre * Develop and mentor less experienced Data Scientists.,Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Scientist-8295365.aspx,€
7,Senior Data Scientist,Bank of Ireland Group,See description,2019-01-03,Dublin,Bank of Ireland | Senior Data Scientist | Dublin City Centre * Develop and mentor less experienced Data Scientists.,Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Scientist-8295359.aspx,€
8,BI Technical Support Analyst,Dublin Airport Authority,Not disclosed,2019-03-03,Dublin,"An opportunity has arisen for a BI Technical Support Analyst to join out IT Data and Analytics team. daa IT Data and Analytics team provide data and analytics services to wider business units - Airport Operations, Airport Security, Commercial, Marketing, Procurement, Finance, Retail and IT.",Irish Jobs,https://www.irishjobs.ie/Jobs/BI-Technical-Support-Analyst-8292221.aspx,€
9,Senior Microbiology Scientist,Irish Blood Transfusion Service,See description,2019-03-03,Dublin,"The Irish Blood Transfusion Service is currently recruiting a temporary, full time Senior Microbiology Scientist in the Environmental Monitoring Department, National Blood Centre, Dublin 8. The IBTS is currently recruiting full-time, temporary, Senior Microbiology Scientist based in the Environmental Monitoring Department, National Blood Centre, Dublin.",Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Microbiology-Scientist-8291874.aspx,€
10,Data Analyst,Sigmar Recruitment,Not disclosed,2019-02-03,Cork,My client in Cork is looking for a Data Support Analyst to join their team. You will execute defined data management processes to create and update master data per business requirements to enable a smooth business process for the team. * Work closely with the data operations teams per region or route to market for business decisions about data requests.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-8289998.aspx,€
11,Group Lead Technical Scientist - Cork,Eurofins Biopharma Product Testing Ireland Ltd,Not disclosed,2019-01-03,Cork,Current seeking a Group Lead - Technical Scientist to support a development laboratory in Ringaskiddy Co Cork,Irish Jobs,https://www.irishjobs.ie/Jobs/Group-Lead-Technical-Scientist-Cork-8286353.aspx,€
12,BI Technical Support Analyst,Hays Specialist Recruitment,35000 - 45000,2019-02-03,Dublin,"You will become a crucial subject matter expert, responsible for providing technical support to BI users within the organisation, assisting with data processing, troubleshooting, reporting and resolution of data integration issues.",Irish Jobs,https://www.irishjobs.ie/Jobs/BI-Technical-Support-Analyst-8289737.aspx,€
13,Business Intelligence Analyst/BI Analyst - Cavan,Archer Recruitment,Not disclosed,2019-02-03,Cavan / Meath,"Opportunity for a Business Intelligence Analyst to join a specialised, established business intelligence team where you will gain experience building enterprise scale BI reporting and dashboard soluti",Irish Jobs,https://www.irishjobs.ie/Jobs/Business-Intelligence-Analyst-BI-Analyst-8289944.aspx,€
14,Senior Data Analyst - Funds -12 Month FTC,The Panel,See description,2019-02-03,Dublin,"My client - a leading Investment Manager has a requirement for a Senior Data Analyst to join the Data Management team for a 12 Month FTC basis. * Ensure that security, issuer and broker data is captured in a timely manner. * Build knowledge of the data flow and structure within the group.",Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Analyst-Funds-12-8289755.aspx,€
15,Finance Accounting & Reporting Specialist - 12 month FTC,Allianz Partners,Not disclosed,2019-01-03,Dublin,Role Overview: -Management of the open item suspense accounts including management and review of FSS team output. -Support the Finance Accounting & Reporting team in delivering the IFRS & SII deliv,Irish Jobs,https://www.irishjobs.ie/Jobs/Finance-Accounting-Reporting-Specialist-12-8290016.aspx,€
16,Data & Analytics Manager,BearingPoint,Not disclosed,2019-01-03,Dublin,BearingPoint currently has an exciting opportunity for a Data & Analytics Manager to join our Data & Analytics team.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analytics-Manager-8292723.aspx,€
17,Business Intelligence Analyst,Collins McNicholas Recruitment & HR Services Group,Not disclosed,2019-02-03,Galway city / Galway / Clare,"Responsible for liaising with the Commercial team, warehouse and manufacturing personnel and customer service to get the correct data. Galway. The reporting analyst is responsible for creating and developing key reports required by the International commercial and CS teams.",Irish Jobs,https://www.irishjobs.ie/Jobs/Business-Intelligence-Analyst-8289392.aspx,€
18,Global Reporting Analyst (AVP),Bruin Financial Recruitment,See description,2019-02-03,Dublin,"Working closely with partners and teams across the enterprise to gather key data and metrics for input in to enterprise wide scorecards * The successful candidate will need to evaluate the information gathered from multiple sources, reconcile discrepancies and present complex data in a systematic manner and tailored to various audiences.",Irish Jobs,https://www.irishjobs.ie/Jobs/Global-Reporting-Analyst-AVP-8289971.aspx,€
19,Credit Data Platform Developer,PERMANENT TSB,Not disclosed,2019-02-28,Dublin,We require a developer with strong analysis and development skills on the Credit Data Platform team. The Credit Data Platform is a Customer Credit data warehouse used to provide management and regulatory information on all aspects of the bank’s credit portfolios. * System governance & data protection,Irish Jobs,https://www.irishjobs.ie/Jobs/Credit-Data-Platform-Developer-8294954.aspx,€
20,Actuary - Reserving & Modelling analyst,Crédit Agricole Creditor Insurance,Not disclosed,2019-02-28,Dublin,"Assist in setting up the data flow processes to/from Prophet to meet modelling and Financial Reporting requirements  Reserving: existing & new businesses - Prudential Control Reporting French Regulator - Modelling  Processes - External relations - Reserving – new business  - Work on tools, methods and processes linked to a new portfolio of PPI business ",Irish Jobs,https://www.irishjobs.ie/Jobs/Actuary-Reserving-Modelling-analyst-8292052.aspx,€
21,Data Analyst,Reperio Human Capital Ltd,50000 - 60000,2019-02-28,Dublin,"Great opportunity in the Education Sector for a talented Data Analyst to work with an amazing team in Dublin City Centre. My client, in the education sector, is currently seeking a data analyst to join their amazing team. You will take control of the data architecture and identify key areas of improvement.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-8295094.aspx,€
22,Claims Business Intelligence Analyst,Zurich,Not disclosed,2019-02-28,Wexford / Kilkenny,"Analyst role covering production of data and insight to assist the Claims leadership team, to assist in key decisions, measure operational performance, create business insight, identify risk and address new problems, enhance business performance that leads to better business outcomes.",Irish Jobs,https://www.irishjobs.ie/Jobs/Claims-Business-Intelligence-Analyst-8292203.aspx,€
23,Master Data Analyst,LloydsPharmacy & United Drug,Not disclosed,2019-02-27,Dublin,"We have a requirement for a full time Master Data Analyst within our busy Master Data team in United Drug, Dublin. This role will report into the Master Data Manager and the successful candidate will provide SAP analytical and technical support.",Irish Jobs,https://www.irishjobs.ie/Jobs/Master-Data-Analyst-8294445.aspx,€
24,Data Analyst,EOLAS – IT RECRUITMENT SPECIALISTS JOBS,Not disclosed,2019-02-28,Dublin,"My Dublin based financial services client is looking for an experienced Data Analyst to join the team on a contract basis -Significant role in the data management and solution definition, implementation and governance of the data architecture. -Data modelling experience needed",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-8288720.aspx,€
25,Databricks Data Engineer- UK,Version 1,See description,2019-02-28,UK,This is an exciting opportunity for an experienced developer of large scale data solutions. You will join a team delivering a transformative cloud hosted data platform for a key Version 1 customer. The ideal candidate will have a proven track record in implementing data ingestion and transformation pipelines for large scale organisations.,Irish Jobs,https://www.irishjobs.ie/Jobs/Databricks-Data-Engineer-UK-8285659.aspx,€
26,SAS Consultant / SAS Analyst,@Recruit IT,65000 - 75000,2019-01-03,Dublin,"We’re looking to speak to experienced Data Scientists with 7-10 years’ experience, in depth knowledge on SAS and a degree background in Computer Science/ Mathematics or Statistics ideally with good programming skills, particularly with programming languages for statistical computing e.g. R.",Irish Jobs,https://www.irishjobs.ie/Jobs/SAS-Consultant-SAS-Analyst-8295137.aspx,€
27,Data Analyst - German Speaking,Intercontinental Exchange (ICE),20000 - 30000,2019-02-27,Dublin,"We are looking for a German Speaking Data Analyst to join our Dublin office. Our Dublin office is primarily focused on data collection and consists of the different departments such as Equities, Funds, Fixed Income and Masterfile. This role is pivotal to the data collection process.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-German-Speaking-8294140.aspx,€
28,Data Visualization Engineer,Pramerica Limited,Not disclosed,2019-02-28,Donegal,"Pramerica is seeking an experienced Analyst with expertise in Data Visualization, the primary function of the role will be to create meaningful and interactive dashboards in Tableau and Power BI - Pramerica is seeking an experienced Data Analyst with expertise and flair for Data Visualization.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Visualization-Engineer-8295022.aspx,€
29,Supply Chain Data Analyst,Abbott Ireland,Not disclosed,2019-02-27,Sligo,"The Supply Chain Analyst will be responsible for developing and implementing supply chain planning data analyses, data collection and reporting systems and other strategies that will drive data based decision making through the S&OP process.",Irish Jobs,https://www.irishjobs.ie/Jobs/Supply-Chain-Data-Analyst-8284849.aspx,€
...,...,...,...,...,...,...,...,...,...
153,Data Analyst,Queens University,See description,2019-02-25,Belfast,Excellent opportunity for a Data Analyst based in Belfast - The post holder will work in a small team of data specialists to prepare for the implementation of new requirements relating to statutory student information returns – referred to by HESA as “Data Futures”. * Minimum 3 years’ recent relevant experience working in a data analysis environment - Finance,NI Jobs,https://www.nijobs.com/Data-Analyst-Job-1394735.aspx,£
154,NEW - Data Analyst / BI Analyst - Mid Ulster,Baillie Martin,35000 - 45000,2019-02-26,South Derry Area,"A rare opening within the Mid-Ulster market for a BI / Data Analyst to join a major, forward thinking organisation. Data Analyst/BI Analyst - South Derry area - Exc salary & bens package",NI Jobs,https://www.nijobs.com/NEW-Data-Analyst-BI-Analyst-Job-1395168.aspx,£
155,Data Analytics Delivery Manager,HAYS Specialist Recruitment,40000 - 50000,2019-02-26,Belfast,Business Intelligence/Data Analytics Manager - Belfast based with limited travel and great package. Due to unprecedented growth within their Belfast HQ they have opened the opportunity up for a Delivery Manager in BI/Data Analytics to join their team.,NI Jobs,https://www.nijobs.com/Data-Analytics-Delivery-Manager-Job-1391866.aspx,£
156,Business Intelligence Analyst,Abacus Careers,Not disclosed,2019-02-26,Belfast,"Business Intelligence Analyst with solid experience in Reporting and Qlikview is needed for a niche manufacturing company, based in Dungannon.",NI Jobs,https://www.nijobs.com/Business-Intelligence-Analyst-Job-1391655.aspx,£
157,MI Data Analyst,MCS Group,30000 - 40000,2019-02-26,Belfast,MCS Group is seeking to connect with a talented MI Data Analyst for one of Belfasts best success stories. MCS Group is delighted to be representing a hugely successful locally owned company seeking to connect with a Data Analyst across management information.,NI Jobs,https://www.nijobs.com/MI-Data-Analyst-Job-1395106.aspx,£
158,Graduate Data Analyst,Abacus Careers,20000 - 30000,2019-02-26,Belfast,"You will work alongside some of the countries best Data Scientists & Software Engineers, who are focused on building AI / Machine Learning & Real Time Data platforms. If you have recently graduated and want to work on AI / Machine Learning & Real Time Data platforms.",NI Jobs,https://www.nijobs.com/Graduate-Data-Analyst-Job-1391695.aspx,£
159,Graduate/Junior Data Analyst - Supply Chain,MCS Group,20000 - 30000,2019-02-26,Dungannon Area / Tyrone / Northern Ireland,MCS Group is delighted to be representing one of the most prestigious firms here in Northern Ireland in their search for talented Graduate/Junior Data Analysts. MCS Group is delighted to be representing a global giant who set the standard within their industry in their efforts to recruit Graduate/Junior Data Analysts.,NI Jobs,https://www.nijobs.com/Graduate-Junior-Data-Analyst-Supply-Job-1391851.aspx,£
160,SAS Data Analyst (All Levels),RealTime Recruitment,See description,2019-02-25,Ulster,"SAS Data Analyst - £28-45k - Hiring All Levels - An exciting new opportunity has recently come on the market with a major player in the data science space. The role is open to candidates with all levels of experience, allowing an amazing opportunity for growth with a company at the forefront of the data revolution.",NI Jobs,https://www.nijobs.com/SAS-Data-Analyst-All-Levels-Job-1394846.aspx,£
161,Reporting Analyst,VANRATH IT,20000 - 30000,2019-02-26,Ballymoney Area / Northern Ireland,"The Reporting Analyst will also support the Information Team Leaders in the provision of quality information to a range of users and the provision of specialist advice in the use of information and information systems and in the extraction, analysis, interpretation and presentation of data. * undertaking regular data audits; * promoting ownership of data",NI Jobs,https://www.nijobs.com/Reporting-Analyst-Job-1395029.aspx,£
162,Principal Statistician,Abacus Careers,Not disclosed,2019-02-22,Belfast,Work with clinical researchers & scientists who work in the life science remit. This firm has established itself as leaders in the Life Science Analytics market and have produced a leading cloud-based software package that is vital to scientists & researchers.,NI Jobs,https://www.nijobs.com/Principal-Statistician-Job-1394392.aspx,£
163,Data Engineer (Belfast – R/Python/AWS),RealTime Recruitment,Not disclosed,2019-02-23,Belfast,Data Engineer| Competitive Salary | 2 days WFH | MedTech | R/Python/AWS | On-The-Job Training | Excellent Holidays | Private Medical &Bonus | Why should I be interested in this role as a Data Engineer? What will I be doing as a Data Engineer? What do I need to secure this Data Engineer role? * Some experience with Data Science or a keen interest,NI Jobs,https://www.nijobs.com/Data-Engineer-Belfast-R-Python-Job-1391392.aspx,£
164,BI Analyst - No Travel,MCS Group,30000 - 40000,2019-02-22,Belfast,"Managing the Data cleansing processes * Analyse and manipulate data * Work across data warehousing solutions - You will have experience in data warehousing solutions utilising SSRS/SSIS, be a good communicator and be interested in continually learning & developing with excellent training on offer.",NI Jobs,https://www.nijobs.com/BI-Analyst-No-Travel-Job-1390999.aspx,£
165,BI Analyst - Retrain to SAP,MCS Group,30000 - 40000,2019-02-21,Belfast,"Managing the Data cleansing processes * Analyse and manipulate data * Work across data warehousing solutions - You will have experience in data warehousing solutions utilising SSRS/SSIS, be a good communicator and be happy to mentor more junior members of staff.",NI Jobs,https://www.nijobs.com/BI-Analyst-Retrain-to-SAP-Job-1394325.aspx,£
166,MIS / BI Analyst,Corvus Recruitment Ltd,Not disclosed,2019-02-21,Armagh,"You could work on small scale report modifications, with dubious data sets, OR you apply to this role and develop green-field reporting suites, extracting accurate data form a new central data warehouse, using leading tech.",NI Jobs,https://www.nijobs.com/MIS-BI-Analyst-Job-1394277.aspx,£
167,Data Engineer (SAS – All levels),RealTime Recruitment,See description,2019-02-22,Belfast,"Data Engineer | Associate to Manager Level | SAS, SQL, ETL, Data Mining, Predictive Analytics | Belfast | Competitive salaries | Healthcare, Pension, Bonus - One of Belfast’s most innovative software development studios is currently on the lookout for a talented Data Engineer – to help their large and impressive client base manage their data challenges.",NI Jobs,https://www.nijobs.com/Data-Engineer-SAS-All-levels-Job-1391028.aspx,£

Lastly, the columns can be rearranged, and rows sorted by date.

In [28]:
cols = df.columns.tolist()
cols = ['Title',
 'Company',
 'Currency',
 'Salary',
 'Date',
 'Location',
 'Description',
 'Website',
 'Link']
df = df[cols]
df.sort_values(by='Date')

,Title,Company,Currency,Salary,Date,Location,Description,Website,Link
0,Data Scientist - Dublin,Reperio Human Capital Ltd,€,60000 - 70000,2019-01-03,Dublin,"My client, an exciting financial services company are currently expanding their data science team. My client, an exciting financial services company, are currently hoping to expand their data science team with a talented and ambitious individual to join their team.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-Dublin-8289327.aspx
143,AI Machine Learning Engineer,Allstate Northern Ireland,£,Not disclosed,2019-01-03,Belfast,Data has been at the heart of the insurance industry for many years and the amount being generated daily is growing exponentially.,NI Jobs,https://www.nijobs.com/AI-Machine-Learning-Engineer-Job-1395877.aspx
142,Data Analyst,Cranmore Recruitment,£,25000 - 35000,2019-01-03,Craigavon/Lurgan Area,Our Exciting Craigavon Client now require a data analyst/s (23-35K) to join a large team of strategic sourcing data analysts who drive forward strategy for a global manufacturer. * You will be a Subject Matter Expert in the use of data held on a sophisticated ERP Supply system,NI Jobs,https://www.nijobs.com/Data-Analyst-Job-1395135.aspx
11,Group Lead Technical Scientist - Cork,Eurofins Biopharma Product Testing Ireland Ltd,€,Not disclosed,2019-01-03,Cork,Current seeking a Group Lead - Technical Scientist to support a development laboratory in Ringaskiddy Co Cork,Irish Jobs,https://www.irishjobs.ie/Jobs/Group-Lead-Technical-Scientist-Cork-8286353.aspx
141,Data Analyst,Terex GB Limited,£,Not disclosed,2019-01-03,Derry / Fermanagh / Tyrone,"Terex are expanding and as a result we are now recruiting for a Data Analyst to join our team in Omagh. Working within the existing Telematics and Brand support teams, the Data Analyst will be responsible for all Business Intelligence reporting and IOT data across all of the brands within Terex Materials Processing Division.",NI Jobs,https://www.nijobs.com/Data-Analyst-Job-1395928.aspx
144,Senior Data Analyst (Software Management),HAYS Specialist Recruitment,£,30000 - 40000,2019-01-03,Northern Ireland,Want to work in a data analyst role that will offer you more than the rest and hone business skills?,NI Jobs,https://www.nijobs.com/Senior-Data-Analyst-Software-Management-Job-1394873.aspx
15,Finance Accounting & Reporting Specialist - 12 month FTC,Allianz Partners,€,Not disclosed,2019-01-03,Dublin,Role Overview: -Management of the open item suspense accounts including management and review of FSS team output. -Support the Finance Accounting & Reporting team in delivering the IFRS & SII deliv,Irish Jobs,https://www.irishjobs.ie/Jobs/Finance-Accounting-Reporting-Specialist-12-8290016.aspx
145,Information Analyst- Northern Ireland,Allstate Northern Ireland,£,Not disclosed,2019-01-03,Belfast,"In support of the analytic and reporting lifecycle, this position will create data definitions that follow established standards and guidelines, develop and manage the logical and physical views of data that are consistent with the business objectives, and provide consulting on new developments within the business intelligence space.",NI Jobs,https://www.nijobs.com/Information-Analyst-Northern-Ireland-Job-1395888.aspx
6,Senior Data Scientist,Bank of Ireland Group,€,See description,2019-01-03,Dublin,Bank of Ireland | Senior Data Scientist | Dublin City Centre * Develop and mentor less experienced Data Scientists.,Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Scientist-8295365.aspx
26,SAS Consultant / SAS Analyst,@Recruit IT,€,65000 - 75000,2019-01-03,Dublin,"We’re looking to speak to experienced Data Scientists with 7-10 years’ experience, in depth knowledge on SAS and a degree background in Computer Science/ Mathematics or Statistics ideally with good programming skills, particularly with programming languages for statistical computing e.g. R.",Irish Jobs,https://www.irishjobs.ie/Jobs/SAS-Consultant-SAS-Analyst-8295137.aspx
129,Data Scientist,HAYS Specialist Recruitment,£,20000 - 30000,2019-01-03,Belfast,Join the team in Belfast for one of the UK's largest data divisions with over 100 tech professionals. They are one of the world's largest and most powerful technology consulting organisations and have a considerable amount of talent working within their data-driven forensic technology services.,NI Jobs,https://www.nijobs.com/Data-Scientist-Job-1394878.aspx
128,Data Scientist,NI Water,£,See description,2019-01-03,Northern Ireland,"Job Title: Data Scientist To develop tools and reporting in order to extract business level data and translate into Insight information across the wider NI Water business. Key areas within Business Analytics scope include Customer information, Asset Information, Telemetry, Finance and Energy data.",NI Jobs,https://www.nijobs.com/Data-Scientist-Job-1395923.aspx
31,Workday Technical Analyst,Parity Group,€,90000 - 100000,2019-01-03,Dublin,.​,Irish Jobs,https://www.irishjobs.ie/Jobs/Workday-Technical-Analyst-8295506.aspx
7,Senior Data Scientist,Bank of Ireland Group,€,See description,2019-01-03,Dublin,Bank of Ireland | Senior Data Scientist | Dublin City Centre * Develop and mentor less experienced Data Scientists.,Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Scientist-8295359.aspx
16,Data & Analytics Manager,BearingPoint,€,Not disclosed,2019-01-03,Dublin,BearingPoint currently has an exciting opportunity for a Data & Analytics Manager to join our Data & Analytics team.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analytics-Manager-8292723.aspx
140,Data Analyst,OCO Global,£,Not disclosed,2019-02-03,Belfast,"Excellent opportunity for a Data Analyst based in Belfast - Role title: Data Analyst - The jobholder will work within the Velociti team to support client delivery, which will include research, data entry and analysis. * Monitor and review data records ensuring information is correct and up to date * Enter data accurately and on a timely basis",NI Jobs,https://www.nijobs.com/Data-Analyst-Job-1394173.aspx
17,Business Intelligence Analyst,Collins McNicholas Recruitment & HR Services Group,€,Not disclosed,2019-02-03,Galway city / Galway / Clare,"Responsible for liaising with the Commercial team, warehouse and manufacturing personnel and customer service to get the correct data. Galway. The reporting analyst is responsible for creating and developing key reports required by the International commercial and CS teams.",Irish Jobs,https://www.irishjobs.ie/Jobs/Business-Intelligence-Analyst-8289392.aspx
18,Global Reporting Analyst (AVP),Bruin Financial Recruitment,€,See description,2019-02-03,Dublin,"Working closely with partners and teams across the enterprise to gather key data and metrics for input in to enterprise wide scorecards * The successful candidate will need to evaluate the information gathered from multiple sources, reconcile discrepancies and present complex data in a systematic manner and tailored to various audiences.",Irish Jobs,https://www.irishjobs.ie/Jobs/Global-Reporting-Analyst-AVP-8289971.aspx
13,Business Intelligence Analyst/BI Analyst - Cavan,Archer Recruitment,€,Not disclosed,2019-02-03,Cavan / Meath,"Opportunity for a Business Intelligence Analyst to join a specialised, established business intelligence team where you will gain experience building enterprise scale BI reporting and dashboard soluti",Irish Jobs,https://www.irishjobs.ie/Jobs/Business-Intelligence-Analyst-BI-Analyst-8289944.aspx
12,BI Technical Support Analyst,Hays Specialist Recruitment,€,35000 - 45000,2019-02-03,Dublin,"You will become a crucial subject matter expert, responsible for providing technical support to BI users within the organisation, assisting with data processing, troubleshooting, reporting and resolution of data integration issues.",Irish Jobs,https://www.irishjobs.ie/Jobs/BI-Technical-Support-Analyst-8289737.aspx
10,Data Analyst,Sigmar Recruitment,€,Not disclosed,2019-02-03,Cork,My client in Cork is looking for a Data Support Analyst to join their team. You will execute defined data management processes to create and update master data per business requirements to enable a smooth business process for the team. * Work closely with the data operations teams per region or route to market for business decisions about data requests.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-8289998.aspx
14,Senior Data Analyst - Funds -12 Month FTC,The Panel,€,See description,2019-02-03,Dublin,"My client - a leading Investment Manager has a requirement for a Senior Data Analyst to join the Data Management team for a 12 Month FTC basis. * Ensure that security, issuer and broker data is captured in a timely manner. * Build knowledge of the data flow and structure within the group.",Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Analyst-Funds-12-8289755.aspx
123,Data Analytics Engineer,Enterprise People – IT Recruitment Specialists,€,70000 - 80000,2019-02-14,Dublin,"Enterprise People are currently seeking a Data Analytics Engineer for a leading North Dublin based client. Reporting to the Data Analytics Manager, the Data Analytics Engineer be part of an Agile scrum team who are responsible for the development and support of our client’s complex analytical solutions.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analytics-Engineer-8287649.aspx
5,Data Scientist Contract (Great Day Rate),Reperio Human Capital Ltd,€,100000 - or more,2019-02-16,Dublin,"We are looking for a Data Scientist who will support our product, sales, leadership and marketing teams with insights gained from analysing company data. Our leading Telecommunication Services client is actively recruiting for an experienced Data Scientist to join their Business Analytics team based in Dublin for a 6-12 Month Contract.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Scientist-Contract-Great-Day-8283415.aspx
177,Data Analyst,VANRATH IT,£,40000 - 50000,2019-02-16,Belfast,VANRATH are recruiting a Data Analyst for a Belfast based consultancy provider. VANRATH are recruiting for a Data Analyst to work within our client's consultancy division. * Lead delivery of Data Management Solutions * Knowledge of Cloud Data Storage/Integration * Knowledge of Data Modelling * Knowledge of Data Governance * Knowledge of Data Warehousing,NI Jobs,https://www.nijobs.com/Data-Analyst-Job-1389954.aspx
178,Regulatory Reporting Analyst,MCS Group,£,70000 - 80000,2019-02-16,Belfast,"Based in the Head Office in Belfast, the Regulatory Reporting Analyst is set to play a key role in ensuring and improving the quality of data coming through from credit risk reports. * Good excel skills for analysing large amounts of data (i.e vlookups/pivots etc) 9-12 month contract opportunity within one of Northern Ireland's Big 4 Banks",NI Jobs,https://www.nijobs.com/Regulatory-Reporting-Analyst-Job-1389949.aspx
116,Data Quality Analyst (Great Day Rate),Reperio Human Capital Ltd,€,90000 - 100000,2019-02-18,Dublin,"Our leading Financial client is looking for a results-focused Data Quality Analyst to support the growing demands of it's expanding workforce. Data Quality Analyst Contract (Great Day Rate) * Work with stakeholders in gathering business requirements for data migration * Assist in designing, planning and managing the data migration process;",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Quality-Analyst-Great-Day-8290124.aspx
112,Senior Data Analyst (Software Management),Hays Northern Ireland,€,40000 - 50000,2019-02-18,UK,Want to work in a data analyst role that will offer you more than the rest and hone business skills?,Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Data-Analyst-Software-Management-8290439.aspx
137,Data Scientist,HAYS Specialist Recruitment,£,30000 - 40000,2019-02-18,Belfast,"There's an opportunity available for 2 brand new data scientists (1 x Senior & 1 x Junior) to find this data, analyse it and leverage it to solve problems for your company and their high-profile clients. Junior to Senior Data Scientist opportunities in Belfast with a global organisation starting a brand new team",NI Jobs,https://www.nijobs.com/Data-Scientist-Job-1392828.aspx
136,Lead Data Scientist ( Belfast ),VANRATH IT,£,50000 - 60000,2019-02-18,Belfast,"*Experience of working with large data sets, ideally with experience of analysis and data visualisation as well as the ability to find and exploit patterns in data As a Data Engineer you can expect to earn a highly competitive salary plus benefits.",NI Jobs,https://www.nijobs.com/Lead-Data-Scientist-Belfast-Job-1393417.aspx
...,...,...,...,...,...,...,...,...,...
45,Medical Scientist & Senior Scientist - Quality Control,Irish Blood Transfusion Service,€,See description,2019-02-27,Dublin,Irish Blood Transfusion Service is currently recruiting a medical scientist and senior scientist in the Quality Control department. Medical Scientist - Quality Control - Senior Scientist - Quality Control,Irish Jobs,https://www.irishjobs.ie/Jobs/Medical-Scientist-Senior-Scientist-Quality-8288578.aspx
38,Data Analyst-Personal Lines,Abrivia Recruitment Specialists,€,See description,2019-02-27,Dublin,Strong experience of engaging with data and analytics as well as a proven track record of good commercial judgement. Insurance Analyst wanted for Dublin based Company - Abrivia are now recruiting for an Insurance Analyst position for a Dublin West based Insurance company.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-Personal-Lines-8287783.aspx
130,Data Scientist (Market Leading Opportunity),RealTime Recruitment,£,See description,2019-02-27,Ulster,"Data Science | Competitive Salary | £27,000 - 35,000 | R/Python/Machine Learning | On-The-Job Training | Excellent Holidays | Private Medical | A role has opened with one of the top consultancy firms in the world, offering a chance to work hand in hand with the biggest names on truly transformative data science products.",NI Jobs,https://www.nijobs.com/Data-Scientist-Market-Leading-Opportunity-Job-1395442.aspx
60,Developer Systems Analyst - Treasury,The Panel,€,See description,2019-02-27,Dublin,"The ideal candidate must have strong treasury experience, excellent Business Analyst background along with a sound knowledge of the technical side to Treasury systems.",Irish Jobs,https://www.irishjobs.ie/Jobs/Developer-Systems-Analyst-Treasury-8294152.aspx
59,Developer Support Analyst - Social Plugins,Recruiters – Looking For You,€,50000 - 60000,2019-02-27,Dublin,"Application Support for one of the worlds biggest brands,, learn form top minds, accelerate your career trajectory",Irish Jobs,https://www.irishjobs.ie/Jobs/Developer-Support-Analyst-Social-Plugins-8294169.aspx
23,Master Data Analyst,LloydsPharmacy & United Drug,€,Not disclosed,2019-02-27,Dublin,"We have a requirement for a full time Master Data Analyst within our busy Master Data team in United Drug, Dublin. This role will report into the Master Data Manager and the successful candidate will provide SAP analytical and technical support.",Irish Jobs,https://www.irishjobs.ie/Jobs/Master-Data-Analyst-8294445.aspx
56,Senior Scientist Chemistry,Headcount Solutions Ltd,€,Not disclosed,2019-02-27,Limerick,Seeking to recruit a Senior Scientist for a Munster based med device multinational. An opportunity has arisen for a Senior Scientist within a renowned Medical Device multinational based in the Munster region. Must be degree qualified with 5+ years previous experience. Please see full job description.,Irish Jobs,https://www.irishjobs.ie/Jobs/Senior-Scientist-Chemistry-8294288.aspx
55,Data Engineer,Cpl Resources,€,Not disclosed,2019-02-27,Tipperary / Clare / Limerick,"I am recruiting a Data Engineer for my client in Nenagh - We are looking for an experienced data engineer with a minimum of 3 years experience in industry. To be comfortable in working with large data sets, and have enterprise experience in developing end to end ETL pipelines. Must have 3+ years experience working as a data engineer at an enterprise level.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Engineer-8294174.aspx
52,Data Engineer,Recruiters – Looking For You,€,40000 - 50000,2019-02-27,Dublin,"his is an opportunity for an experienced coder or software engineer to design, architect, implement, and maintain tools and systems to help the GTI team to detect fraud and collect data from internal data sources and open-sourced intelligence. Calling all Data Engineers!",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Engineer-8288162.aspx
51,Data Engineer,Computer Futures,€,Not disclosed,2019-02-27,Dublin,"You will be working closely with the Data Scientist's to help build predictive models, build API's, mash up data sets and adding value to them. I am on the lookout for a Data Engineer for my client, who are based in heart of Dublin City Centre.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Engineer-8287643.aspx
49,Technical Risk Analyst,PERMANENT TSB,€,Not disclosed,2019-02-27,Dublin,"Challenge existing strategies through interrogation of trends discovered within collections data. * Build data sets which are robust and efficient for use within the department and across the wider Bank, helping to maximise productivity of on-going work through collaborative design and a develop/test/document/deploy lifecycle.",Irish Jobs,https://www.irishjobs.ie/Jobs/Technical-Risk-Analyst-8294097.aspx
27,Data Analyst - German Speaking,Intercontinental Exchange (ICE),€,20000 - 30000,2019-02-27,Dublin,"We are looking for a German Speaking Data Analyst to join our Dublin office. Our Dublin office is primarily focused on data collection and consists of the different departments such as Equities, Funds, Fixed Income and Masterfile. This role is pivotal to the data collection process.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-German-Speaking-8294140.aspx
37,Data Analyst-Personal Lines,Abrivia Recruitment Specialists,€,See description,2019-02-27,Dublin,"Data Analyst wanted for Dublin based Insurance Company - Abrivia are now recruiting for a Data Analyst position for our client, a leading Irish Insurer based in Dublin West. * Excellent analytical skills, with strong experience in data interrogation as well as reporting.",Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Analyst-Personal-Lines-8287826.aspx
39,Data & Reporting Analyst,Arcon Recruitment,€,Not disclosed,2019-02-28,Mayo / Roscommon / Sligo,Key role in driving performance improvement in Supply Management (SM) and across the business by providing essential data and metrics to help better manage our business. * Tracking and updating of SM Master data to ensure adherence to global best practice standards.,Irish Jobs,https://www.irishjobs.ie/Jobs/Data-Reporting-Analyst-8288367.aspx
34,BI Analyst,Abrivia Recruitment Specialists,€,See description,2019-02-28,Dublin,"The BI Analyst will work on building a new data system that delivers real time mission critical insights all across the business. This is the perfect opportunity for someone passionate about BI, working with data, and for someone who wants to work with brand new tech, building world class large scale BI solutions.",Irish Jobs,https://www.irishjobs.ie/Jobs/BI-Analyst-8294643.aspx
33,Temporary Business Intelligence Developer,Pramerica Limited,€,Not disclosed,2019-02-28,Donegal,Pramerica are looking for an established hands on Business Intelligence Developer who has Data Visualization experience and some development experience. * Proficient in Power BI (other industry leading Data Visualization technologies would be considered) Overview,Irish Jobs,https://www.irishjobs.ie/Jobs/Temporary-Business-Intelligence-Developer-8294798.aspx